<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>余额</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/system/main.css" />
		<link rel="stylesheet" href="../../css/system/style.css" />
		<!--<link rel="stylesheet" href="../../css/business/index.css" />-->
		<link rel="stylesheet" href="../../css/business/balance/balance.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">余额</h1>
		</header>
		<div class="mui-content bg-whf6 balance-detailed-body">
			<ul class="mui-table-view bg-whf6">
				<img src="../../image/yemx_null.png" alt="" />
				<p>暂无任何记录！</p>
			</ul>
			
		</div>
	</body>
	<script type="text/javascript" src="../../js/system/xiachenshi.js" ></script>
</html>