<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>余额</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/system/main.css" />
		<link rel="stylesheet" href="../../css/system/style.css" />
		<link rel="stylesheet" href="../../css/business/balance/balance.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">余额明细</h1>
		</header>
		<script type="text/javascript" src="../../js/system/mui.min.js"></script>
		<script type="text/javascript" src="../../js/system/xiangyingshi.js"></script>
		<script type="text/javascript" src="../../js/system/arttmpl.js"></script>
		<script type="text/javascript" src="../../js/business/balance/balance_list_parent.js"></script>
	</body>

</html>