<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>常见问题</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="../../js/system/xiangyingshi.js"></script>
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/system/style.css" />
		<link rel="stylesheet" href="../../css/business/index.css" />
		<link rel="stylesheet" href="../../css/business/about-us/about-us.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">常见问题</h1>
		</header>
		<div id="segmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-positive mui-content">
			<a class="mui-control-item mui-active" href="#item1" id="item1-btn">
				<div class="k-bg-cl-body k-bg-cl1">
				</div>
				<span>提现说明</span>
			</a>
			<a class="mui-control-item" href="#item2" id="item2-btn">
				<div class="k-bg-cl-body k-bg-cl2">
				</div>
				<span>忘记密码</span>
			</a>
			<a class="mui-control-item" href="#item3" id="item3-btn">
				<div class="k-bg-cl-body k-bg-cl3">
				</div>
				<span>支持银行</span>
			</a>

		</div>
		<div class="kefu">
			<div id="item1" class="mui-control-content mui-active">
				<div id="scroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-card">
							<ul id="list" class="mui-table-view">
								<li class="mui-table-view-cell">
									<a title="提现说明" id="item1_1_wt">关于提现收费规则说明</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="item2" class="mui-control-content">
				<div id="scroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-card">
							<ul id="list1" class="mui-table-view">
								<li class="mui-table-view-cell">
									<a title="忘记密码" id="item2_1_wt">忘记提现密码怎么办？</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="item3" class="mui-control-content">
				<div id="scroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-card">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell">
									<a title="支持银行" id="item3_1_wt">提现支持哪些银行？</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<ul class="mui-table-view footer cjwt">
				<li>
					<div id="lianxitel">
						<img src="../../image/kfzx.png" />
						<span>联系客服</span>
					</div>
				</li>
			</ul>
		</div>

		<script type="text/javascript" src="../../js/system/mui.min.js"></script>
		<script type="text/javascript" src="../../js/system/xiachenshi.js"></script>
		<script type="text/javascript" src="../../js/business/balance/common_problem.js"></script>
	</body>

</html>