<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>忘记密码</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/system/main.css" />
		<link rel="stylesheet" href="../../css/system/style.css" />
		<!--<link rel="stylesheet" href="../../css/business/index.css" />-->
		<link rel="stylesheet" href="../../css/business/balance/forget_password.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">忘记密码</h1>
			<!--<a id="detail_id" class="mui-btn-link mui-pull-right head">关闭</a>-->
		</header>
		<div class="mui-content bg-whf6">
			<ul class="mui-table-view wangji-body">
				<li class="mui-table-view-cell tixian-sr">
					<img src="../../image/tixian_wt.png" alt="" /><label>我忘记了曾经设置的提取密码，怎么办？</label>
				</li>
				<li class="mui-table-view-cell tixian-jine">
					<img src="../../image/tixian_wt.png" alt="" />
					<label>如果您遗忘了您的提取密码，请拨打电话<a>0431-6655665</a>咨询修改密码的相关事宜</label>
				</li>
			</ul>
		</div>
		<script type="text/javascript" src="../../js/system/mui.min.js"></script>
		<script type="text/javascript" src="../../js/system/xiangyingshi.js"></script>
		<script type="text/javascript" src="../../js/system/xiachenshi.js"></script>
		<script type="text/javascript" src="../../js/business/balance/forget_password.js"></script>
	</body>

</html>