<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>审核</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/business/index.css" rel="stylesheet" />
		<link href="../../css/business/login/examine.css" rel="stylesheet" />
	</head>

	<body class="bg-whf5 size14">
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">审核</h1>
			<a class="mui-btn mui-btn-link mui-pull-right" id="close">关闭</a>
		</header>
		<div class="mui-content bg-whf5">
			<div class="examine-img">
				<img class="w60" src="../../image/dl_sh.png" />
			</div>
			<div class="examine-content">
				<span class="size17">审核中</span>
				<p class="size12">您的注册信息正在审核中，请耐心等待</p>
			</div>
			<div class="examine-erweima">
				<img class="w30" src="../../image/erweima.png" />
				<p class="size12">扫描二维码，关注运到APP微信公众号</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/system/mui.js"></script>
	<script type="text/javascript" src="../../js/system/xiachenshi.js"></script>
	<script type="text/javascript" src="../../js/business/login/examine.js"></script>

</html>