<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>注册第三步</title>
		<link type="text/css" href="../../css/mui.min.css" rel="stylesheet" />
		<link type="text/css" href="../../css/system/mui.picker.min.css" rel="stylesheet" />
		<link href="../../css/business/index.css" rel="stylesheet" />
		<link type="text/css" href="../../css/business/login/register-input-file.css" rel="stylesheet" />
	</head>

	<body class="bg-wh93 size14">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">注册</h1>
		</header>
		<div class="mui-content bg-wh93">
			<div class="register-content-body">
				<ul id="OA_task_1">
					<a id="image_1">
						<li>
							<div><img src="../../image/dl_tj.png" /></div>
							<span>请上传行车证照片</span>
						</li>
					</a>
					<a id="image_2">
						<li>
							<div><img src="../../image/dl_tj.png" /></div>
							<span>请上传驾驶证照片</span>
						</li>
					</a>
					<a id="image_3">
						<li>
							<div><img src="../../image/dl_tj.png" /></div>
							<span>请上传身份证正面照片</span>
						</li>
					</a>
				</ul>
			</div>

			<div class="mui-content-padded m-brem50">
				<button id='reg' class="mui-btn mui-btn-block mui-btn-white">完成</button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/system/mui.min.js"></script>
		<script type="text/javascript" src="../../js/system/mui.picker.min.js"></script>
		<script type="text/javascript" src="../../js/system/xiachenshi.js"></script>
		<script type="text/javascript" src="../../js/system/exif.js"></script>
		<script type="text/javascript" src="../../js/system/mobileBUGFix.mini.js"></script>
		<script type="text/javascript" src="../../js/system/xiangyingshi.js"></script>
		<script type="text/javascript" src="../../js/system/constants.js"></script>
		<script type="text/javascript" src="../../js/business/login/register-input-file.js"></script>

	</body>

</html>