.mui-content {
	margin-top: 0.08rem;
}

#searchinput {
	text-align: left;
	border-radius: 2px;
	background-color: #fff;
	border: 1px solid #EBEBEB;
	height: 1.57rem;
	font-size: 0.2916rem;
	padding-bottom: 0.8rem;
	background: url(../../../image/shuru.png) no-repeat top left;
	background-size: 0.36rem;
	background-position: 15px 15px;
	padding-left: 40px;
	color: #909090;
}

#luxianinput {
	/*padding-right: 0px !important;
	padding-left: 0px;*/
	padding: 0;
	margin-bottom: 0.08rem;
}

input[type=search] {
	margin-bottom: 0;
}

.qishi img,
.zhongdian img,
.jingting img {
	width: 0.5rem;
	vertical-align: baseline;
	vertical-align: text-bottom;
	margin-right: 10px;
}

#square2 {
	width: 2.26rem;
	height: 0.61rem;
	border: 1px solid #dadada;
	border-radius: 10px;
	color: #7c919f;
	font-size: 0.28rem;
	text-align: center;
	word-break: break-word;
	padding: 0.08rem 10px;
	white-space: normal;
}

.mui-icon {
	line-height: 1.2;
	font-size: 0.28rem;
}

.mui-search .mui-placeholder {
	text-align: left;
	border-radius: 2px;
	background-color: #fff;
	border: 1px solid #EBEBEB;
	height: 28px;
	padding: 0 5px;
	font-size: 0.3rem;
	line-height: 25px;
}

.mui-navigate-right:after {
	right: 5px;
	font-size: 20px;
}

.mui-btn-block {
	font-size: 0.3rem;
}

#lvs {
	color: #45C01A;
	font-size: 15px;
	font-weight: normal;
}

#lvs-b {
	color: #45C01A;
	font-size: 15px;
	font-weight: normal;
}

#hs {
	color: #999999;
	font-size: 0.24rem;
	font-weight: normal;
	line-height: 1.3;
}

#heis {
	color: #999999;
	font-size: 0.24rem;
	font-weight: normal;
}

#jvse {
	color: #FF9700;
	font-size: 15px;
	font-weight: normal;
}

.mui-content-padded {
	/*position: absolute;*/
	bottom: 1.32rem;
	width: 95%;
}

#tianjiaLi {
	padding-right: 0px;
}

.mui-table-view:before {
	height: 0;
}

.mui-table-view-cell:after {
	left: 0;
}

#end_text,
#begin_text {
	color: #999999;
	font-size: 0.28rem;
}

#jingtingicon {
	position: absolute;
	right: -60px;
	top: 8px;
	font-size: 0.5rem;
	color: #9e9e9e;
}

.mui-media-body {
	padding-bottom: 5px;
}

.mui-navigate-right:after {
	font-size: 0.5rem;
	color: #9e9e9e;
}

.mui-table-view-cell>a>.mui-btn {
	position: relative;
}

.mui-media-object {
	max-width: inherit !important;
	line-height: inherit !important;
}

.mui-navigate-right:after {
	color: #999999;
}

.mui-input-row .mui-input-clear~.mui-icon-clear {
	top: 0;
}

.mui-table-view-cell:last-child:after {
	height: 1px;
}
#end_textXIU,
#begin_textXIU {
	font-size: 0.28rem;
	color: #1D1D1D;
}
.mui-table-view .mui-media-object{
	height: 0.5rem;
}
