<!DOCTYPE html>
<html class="ui-page-login">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>运价详情</title>	
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link href="../../css/business/index.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/system/main.css" />
		<link rel="stylesheet" href="../../css/system/style.css" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link href="../../css/business/agreement.css" rel="stylesheet" />
	</head>
	<body class="bg-whf5 size14">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">运价详情</h1>		
		</header>		
		<div class="mui-content">
			<div class="mui-card">
				<div id="yunjia"class="mui-card-content-inner">
					<h3>公路货物运输定额保险条款（2009版）</h3>
					<p>保险货物范围</p>
					<p>第一条 凡在国内经公路运输符合国家规定的货物均可作为本保险的保险货物。</p>
					<p>第二条 下列货物非经投保人与保险人特别约定，并在保险单上载明，不在保险货物范围以内：金银、珠宝、钻石、玉器、首饰、古币、古玩、古书、古画、邮票、艺术品、稀有金属等珍贵财物。</p>
					<p>第三条 下列货物不在保险货物范围以内：蔬菜、水果、活牲畜、禽鱼类和其它动物。</p><br>
					<p>保险责任</p>
					<p>第四条 对于在本保险期间内，装载于本保险单列明的运输车辆上的保险货物所遭受的下列损失和费用，保险人按照本条款约定负责赔偿： </p>
					<p>（一） 因雷电、冰雹、暴风、暴雨、海啸、洪水、地陷、崖崩、突发性滑坡、泥石流所造成的损失；</p>
					<p>（二） 由于运输工具发生碰撞、倾覆、火灾、爆炸、码头和隧道坍塌所造成的损失；</p>
					<p>（三） 在装货、卸货或转载时，因遭受不属于包装质量不善或装卸人员违反操作规程所造成的损失； </p>
					<p>（四） 液体货物因受碰撞、挤压致使所用容器(包括封口)损坏而渗漏的损失，或用液体保藏的货物因液体渗漏而造成保藏货物腐烂变质的损失；</p>
					<p>（五） 符合安全运输规定而遭受雨淋所致的损失；</p>
					<p>（六） 在发生上述灾害、事故时，因施救或保护货物所支付的直接合理费用。</p><br>
					<p>责任免除</p>
					<p>第五条 由于下列原因造成保险货物的损失，保险人不负赔偿责任：</p>
					<p>（一）战争、军事行动、武装冲突、恐怖行动、罢工、骚乱、暴动；</p>
					<p>（二）核反应、核子辐射和放射性污染；</p>
					<p>（三）有关部门的行政行为或执法行为；</p>
					<p>（四）地震； </p>
					<p>（五）保险货物本身的缺陷或自然损耗、霉烂变质、包装不善；</p>
					<p>（六）违章装载货物及从事非法运输； </p>
					<p>（七）被保险人或驾驶员的故意行为；</p>
					<p>（八）盗窃、抢劫。 </p>
					<p>第六条 对于下列情况下因任何原因发生的保险货物的损失，保险人均不承担赔偿责任：</p>
					<p>（一）驾驶员持审验不合格的驾驶证，或未经公安交通部门同意，持未检验的驾驶证驾车；</p>
					<p>（二）承运车辆没有公安交通管理部门核发的行驶证和号牌，或未按规定检验或检验不合格。</p>
					<p>第七条 其他不属于保险责任范围内的损失和费用，保险人不负责赔偿。</p><br>
					<p>责任起讫期</p>
					<p>第八条 单程货物运输定额保险的责任起讫期是自签发保险单后，货物装上运输工具时开始至卸离运输工具时止；如果货物未卸离运输工具，但实际运输里程超过保单载明的公里数时，自超出之时保险责任也即终止。 定期货物运输定额保险的责任起讫期是指在保险合同有效期限内每次运输的保险责任起讫期，保险责任自保险货物装上运输工具时起至卸离运输工具时止。 投保人、被保险人义务
						<p>第九条 投保人应履行如实告知义务，如实回答保险人就保险标的或者被保险人的有关情况提出的询问。 投保人故意或重大过失未履行如实告知义务，足以影响保险人决定是否同意承保或者提高保险费率的，保险人有权解除保险合同。 投保人故意不履行如实告知义务的，保险人对于合同解除前发生的保险事故，不负赔偿责任，并不退还保险费。 投保人因重大过失未履行如实告知义务，对保险事故的发生有严重影响的，保险人对于合同解除前发生的保险事故，不负赔偿责任，但应当退还保险费。
						</p>
						<p>第十条 投保人、被保险人应履行下列义务：</p>
						<p>1.投保人应在保险人签发保险单时一次性交纳应付的保险费。若投保人未按照约定交付保险费，保险费交付前发生的保险事故，保险人不承担赔偿责任。</p>
						<p>2.被保险人要严格遵守国家及交通运输部门关于安全运输的各项规定，维护保险标的的安全。不得承运包装不符合国家和主管部门规定的货物，货物运输包装必须符合国家和主管部门规定的标准。 保险人可以对保险标的的安全状况进行检查，向投保人、被保险人提出消除不安全因素和隐患的书面建议，被保险人应该认真付诸实施。 对于因被保险人未遵守上述约定而导致保险事故的，保险人不负赔偿责任；对于因被保险人未遵守上述约定而导致损失扩大的，保险人对扩大的损失不负赔偿责任。
						</p>
						<p>第十一条 运输的保险货物发生保险责任范围内的损失后，投保人、被保险人应迅速采取合理的施救和保护措施，并在24小时内通知保险人，否则保险人对扩大的损失部分不负赔偿责任。</p>
						<p>第十二条 发生保险责任范围内的损失，应由有关责任方负责赔偿的，被保险人应行使或者保留向该责任方请求赔偿的权利。 保险事故发生后，保险人未赔偿保险金之前，被保险人放弃对有关责任方请求赔偿的权利的，保险人不承担赔偿责任。 保险人向被保险人赔偿保险金后，被保险人未经保险人同意放弃对第三者请求赔偿的权利的，该行为无效。 在保险人向有关责任方行使代位请求赔偿权利时，被保险人应当向保险人提供必要的文件和其所知道的有关情况。 由于被保险人的故意或者重大过失致使保险人不能行使代位请求赔偿的权利的，保险人扣减或者要求返还相应的赔偿金额。
						</p><br>
						<p>赔偿处理</p>
						<p>第十三条 货物发生保险责任范围内的损失时，保险人按第一危险赔偿方式计算赔偿，按照承运人在保险事故中根据现行道路交通事故处理办法及其他有关法律规定应承担的责任比例，计算承运人对实际损失的赔偿责任，承运人的赔偿责任低于保险金额的，按承运人的实际赔偿责任计算保险赔偿金额；承运人的赔偿责任高于保险金额的，最高保险赔偿金额以保险金额为限；保险人对货物损失的赔偿金额，以及因施救或保护所支付的直接合理的费用，应分别计算，并各以不超过保险金额为限。</p>
						<p>第十四条 定期货物运输定额保险，保险人赔偿后，其保险金额应当相应减少，被保险人需恢复保险金额时，应补交保险费，由保险人出具批单批注。</p>
						<p>第十五条 定期货物运输定额保险，保险人一次赔款金额等于保险金额时，或保险单上注明的承运车辆发生全部损失时，本保险合同保险责任即行终止。</p>
						<p>第十六条 被保险人申请赔偿时，必须提供下列单证：</p>
						<p>（一）保险单、货物发票、运单以及与确定损失金额有关的单据；</p>
						<p>（二）公安部门的事故处理书和确定事故责任的证明，以及出险当地保险人机构的查勘报告；</p>
						<p>（三）货物损失的检验报告及损失清单。 保险人收到被保险人的赔偿请求后，应当及时就是否属于保险责任作出核定，并将核定结果通知被保险人。情形复杂的，保险人在收到被保险人的赔偿请求并提供理赔所需资料后三十日内未能核定保险责任的，保险人与被保险人根据实际情形商议合理期间，保险人在商定的期间内作出核定结果并通知被保险人。对属于保险责任的，在与被保险人达成有关赔偿金额的协议后十日内，履行赔偿义务。 </p>
						<p>第十七条 经双方协商同意，保险人可将其享有的保险财产残余部分的权益作价折归被保险人，并可在保险赔偿金中直接扣除。</p>
						<p>第十八条 本保险合同的争议解决方式由投保人或被保险人与保险人从下列两种方式种选择一种，并列明于本保险单中：</p>
						<p>（一） 因履行本合同发生的争议，由投保人或被保险人与保险人协商解决，协商不成的，提交仲裁委员会仲裁；</p>
						<p>（二） 因履行本合同发生的争议，由投保人或被保险人与保险人协商解决，协商不成的，依法向人民法院起诉。</p><br>
						<p>其它事项</p>
						<p>第十九条 单程、定期货物运输定额保险，投保人在保险责任开始前，要求解除合同的，应当向保险人支付应交保险费金额10％的退保手续费，保险人应当退还保险费。 单程货物运输定额保险、定期货物运输定额保险的每次运输的保险责任起讫期中，保险责任开始后，投保人不得解除合同。定期货物运输定额保险，在未履行货物运输行为时，投保人要求解除合同的，保险人可以按短期费率标准收取自保险责任开始之日起至合同解除之日止期间的保险费，不足一个短期收费期限的，按相应的短期期限收费，剩余部分退还投保人。 </p>
						<p> 第二十条 凡涉及本保险的约定均采用书面形式。</p>
						<p>第二十一条 本保险合同适用中华人民共和国法律(不包括港澳台地区法律）。</p>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/system/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="../../js/system/mui.js"></script>
	<script type="text/javascript" src="../../js/system/xiangyingshi.js"></script>
	<script type="text/javascript" src="../../js/system/constants.js"></script>		
	<script type="text/javascript" src="../../js/system/xiachenshi.js" ></script>
	<script type="text/javascript" src="../../js/business/logistics/tariff-details.js"></script>
</html>