<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的优惠券</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/system/main.css" />
		<link rel="stylesheet" href="../../css/system/style.css" />
		<!--<link rel="stylesheet" href="../../css/business/index.css" />-->
		<link rel="stylesheet" href="../../css/business/coupon/coupon.css" />
	</head>

	<body class="bg-whf6">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的优惠券</h1>
		</header>
		<div class="mui-content">
			<div id="yhq" class="yhq-nothing mt100">
				<img src="../../image/yhq-null.png"/>
				<p>您暂无任何优惠券！</p>
			</div>
			
			<div class="mui-content-padded yhq-hui">
				没有更多优惠券了！！
				<a href="coupon-invalid.html">
					<span>查看无效优惠券<img src="../../image/yhq_wu.png"/></span>
				</a>
			</div>
		</div>
		<script type="text/javascript" src="../../js/system/jquery-3.1.1.js"></script>
		<script type="text/javascript" src="../../js/system/mui.min.js"></script>
		<script type="text/javascript" src="../../js/system/constants.js"></script>
		<script type="text/javascript" src="../../js/system/json_time.js"></script>
		<script type="text/javascript" src="../../js/system/xiangyingshi.js"></script>	
		<script type="text/javascript" src="../../js/system/arttmpl.js"></script>	
		<script type="text/javascript" src="../../js/system/xiachenshi.js" ></script>
	</body>

</html>