html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.head {color: #FFFFFF !important;font-size: 0.3rem !important;}
label{width: 91%;font-size: 0.29rem;float: right;}
img{width: 20px;}
label a{color: #d94949;}
.wangji-body{background:#f6f6f6;}
.wangji-body li{background: white; margin-top: 5px;}
.mui-table-view-cell:after {left: 0px;}