<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>会员等级说明</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../css/system/main.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../css/business/geren_message/huiyuandengji.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">会员积分等级说明</h1>
		</header>
		<div class="mui-content">
			<div class="mui-content-padded">
				<p id="dingbu">积分分为总积分与可用积分，用户等级与总积分有关</p>
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="leftcontentV1">普通司机</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="rightZi">0</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="leftcontentV2">铜牌司机</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="rightZi">1000</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="leftcontentV3">银牌司机</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="rightZi">3000</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="leftcontentV4">金牌司机</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="rightZi">10000</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="leftcontentV5">铂金司机</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="rightZi">30000</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="leftcontentV6">钻石司机</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<div class="mui-media-body" id="rightZi">100000</div>
						</a>
					</li>

				</ul>
				<div id="dibu">
					<p>积分获得条件：</p>
					<p>抢单操作获得2积分;完成专车/顺风车订单获得5积分;</p>
					<p>车主获得用户5星好评获得1积分</p>
				</div>
			</div>
		</div>
		<script src="../../js/system/mui.min.js"></script>
		<script src="../../js/system/constants.js"></script>
		<script src="../../js/system/xiangyingshi.js"></script>
		<script type="text/javascript" src="../../js/business/geren_message/huiyuandengji.js"></script>
		<script type="text/javascript" src="../../js/system/xiachenshi.js"></script>
	</body>

</html>