<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的等级与积分</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../css/system/main.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../css/business/geren_message/wodedengji.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的等级与积分</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view mui-table-view-chevron" id="gerenzhongxin">
				<li class="mui-table-view-cell mui-media">
					<a class="mui-navigate-right" href="#">
						<img class="mui-media-object mui-pull-left" id="head-img">
						<div class="mui-media-body">
							<span id="geren_name"></span>
							<img src="../../image/vip.png" id="vip" />
							<p class="mui-ellipsis" id="huiyuan"><img id="vip_level"><span id="huiyuan_level"></span></p>
							<p  id="huiyuancontent">再获得<span id="cha"></span>积分可晋升为<span id="next_level"></span></p>
						</div>
					</a>
				</li>
			</ul>
			<ul class="mui-table-view mui-grid-view" id="sencond">
				<li class="mui-table-view-cell mui-media mui-col-xs-6">
					<a>
						<div class="mui-media-body">总积分</div>
						<p id="jifen_total"></p>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-6">
					<a>
						<div class="mui-media-body">可使用积分</div>
						<p id="jifen_use"></p>
					</a>
				</li>
			</ul>
			<ul class="mui-table-view" id="table-viewX">
				<li class="mui-table-view-cell">
					<a id="huiyuandengji" class="mui-navigate-right">
						<img class="mui-media-object mui-pull-left" src="../../image/wode/jifen1.png" />
						<div class="mui-media-body">
							会员和积分等级说明
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="wodedengji" href="#">
						<img class="mui-media-object mui-pull-left" src="../../image/wode/jifen3.png" />
						<div class="mui-media-body">
							积分兑换<span class="mui-pull-right">积分商城正在装修中，稍后开放</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<script src="../../js/system/mui.min.js"></script>
		<script src="../../js/system/constants.js"></script>
		<script src="../../js/system/xiangyingshi.js"></script>
		<script src="../../js/business/geren_message/wodedengji.js"></script>
		<script type="text/javascript" src="../../js/system/xiachenshi.js" ></script>
	</body>

</html>