<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>客服中心</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="../../js/system/xiangyingshi.js"></script>
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/system/style.css" />
		<link rel="stylesheet" href="../../css/business/index.css" />
		<link rel="stylesheet" href="../../css/business/about-us/about-us.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">客服中心</h1>
		</header>
		<div id="segmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-positive mui-content">
			<a class="mui-control-item mui-active" href="#item1" id="item1-btn">
				<div class="k-bg-cl-body k-bg-cl1">
				</div>
				<span>基础问题</span>
			</a>
			<a class="mui-control-item" href="#item2" id="item2-btn">
				<div class="k-bg-cl-body k-bg-cl2">
				</div>
				<span>订单问题</span>
			</a>
			<a class="mui-control-item" href="#item3" id="item3-btn">
				<div class="k-bg-cl-body k-bg-cl3">
				</div>
				<span>支付问题</span>
			</a>
			<a class="mui-control-item" href="#item4">
				<div class="k-bg-cl-body k-bg-cl4">
				</div>
				<span>优惠劵问题</span>
			</a>
		</div>
		<div class="kefu">
			<div id="item1" class="mui-control-content mui-active">
				<div id="scroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-card">
							<ul id="list" class="mui-table-view">
								<li class="mui-table-view-cell">
									<a id="item1_1">订单服务过程中如何产生过路桥费，停车费等费用由谁承担？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item1_2">额外服务右哪些？如何收费（包括回单回款、装卸费等费用）？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item1_3">什么是等候费？如何计算？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item1_4">收货时付款和发车时付款</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="item2" class="mui-control-content">
				<div id="scroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-card">
							<ul id="list1" class="mui-table-view">
								<li class="mui-table-view-cell">
									<a id="item2_1">如何下单？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item2_2">如何创建城际订单？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item2_3">如何取消订单？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item2_4">订单已有司机接单时，能否更改目的地？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item2_5">货物在运输过程中出现损坏，怎么办？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item2_6">已经对订单进行评价，是否能够修改评价？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item2_7">为什么预估价格与实际收费不一样？</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="item3" class="mui-control-content">
				<div id="scroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-card">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell">
									<a id="item3_1">运到订单，如何进行支付？支付方式有几种？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item3_2">订单在线支付时被重复扣款了，怎么办？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item3_3">如何充值会员？</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="item4" class="mui-control-content">
				<div id="scroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-card">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell">
									<a id="item4_1">如何使用优惠券？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item4_2">如何查看我的优惠券？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item4_3">从哪些渠道可以获得优惠券？</a>
								</li>
								<li class="mui-table-view-cell">
									<a id="item4_4">如何获得积分，积分怎样使用？</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<ul class="mui-table-view footer">
				<li class="mui-table-view-cell">
					<div id="lianxitel">
						<img src="../../image/kfzx.png" />
						<span>联系客服</span>
					</div>
				</li>
			</ul>
		</div>

		<script src="../../js/system/mui.min.js"></script>
		<script src="../../js/business/about-us/call-center.js"></script>
		<script type="text/javascript" src="../../js/system/xiachenshi.js"></script>
	</body>

</html>