<!DOCTYPE html>
<html>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../css/system/main.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
    <style type="text/css">
    	
    
    </style>
	<body >
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px; background-color: #45C01A;" id="header">
			<a id="goBack" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<h1 id="title" class="mui-title">选择检车线</h1>
		</header>
		<div class="mui-content ">
			<div id="content">
			</div>
		</div>
	<script src="../../js/system/mui.min.js"></script>
	<script src="../../js/system/constants.js"></script>
	<script type="text/javascript" src="../../js/system/json_time.js"></script>
	<script type="text/javascript" src="../../js/system/xiangyingshi.js"></script>
	<script type="text/javascript" src="../../js/system/arttmpl.js"></script>
	<script type="text/javascript" src="../../js/system/xiachenshi.js" ></script>
	</body>

		
</html>
